.form{
     /* background-color: rgb(107 107 161); */
   min-width: 700px;
    min-height: 600px;
    padding-left: 10px;
    
}
.form-image{
  padding-left: 10px;
  min-width: 500px;
    min-height: 600px;
}